node_modules
*.js
!reader/sw.js
!reader/vendor/
!reader/vendor/jsQR.js
tr.apk
.vscode/

android/.gradle/
android/.idea/
android/**/build/
android/local.properties
android/app/src/androidTest/
android/app/src/test/
